<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sergio.sastre.uitesting.utils">

    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <application>
        <activity android:name=".activityscenario.ActivityScenarioConfigurator$PortraitSnapshotConfiguredActivity" />
    </application>
</manifest>